attrs
certifi
Click
cycler
Flask
Flask-Cors
importlib-metadata
Flask-MonitoringDashboard
itsdangerous
Jinja2
joblib
jsonschema
kiwisolver
kneed
MarkupSafe
matplotlib
more-itertools
numpy
pandas
pyparsing
pyrsistent
python-dateutil
pytz
PyYAML
regexp
scikit-learn
six
sklearn
Werkzeug
wincertstore
xgboost
zipp
